<ng-container *ngIf="(order$ | async) as order">
  <div class="row">
    <div class="cx-header col-lg-4 col-sm-8">
      <div class="cx-detail-row">
        <div class="col-4 cx-detail-label">
          {{ 'orderDetails.orderId' | cxTranslate }}
        </div>
        <div class="col-8 cx-detail-value">{{ order?.code }}</div>
      </div>
      <div class="cx-detail-row">
        <div class="col-4 cx-detail-label">
          {{ 'orderDetails.placed' | cxTranslate }}
        </div>
        <div class="col-8 cx-detail-value">{{ order?.created | cxDate }}</div>
      </div>
      <div class="cx-detail-row">
        <div class="col-4 cx-detail-label">
          {{ 'orderDetails.status' | cxTranslate }}
        </div>
        <div class="col-8 cx-detail-value" *ngIf="order?.statusDisplay">
          {{
            'orderDetails.statusDisplay'
              | cxTranslate: { context: order?.statusDisplay }
          }}
        </div>
      </div>
    </div>
    <div class="cx-order-details-footer col-lg-4 col-sm-8">
      <button
        class="btn btn-primary btn-block btn-cancel"
        type="button"
        (click)="cancel()"
      >
        {{ 'orderDetails.cancel' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
