<ng-container *ngIf="product$ | async as product">
  <div class="variant-section">
    <cx-style-selector
      *ngIf="variants[variantType.STYLE]"
      [product]="product"
      [variants]="variants[variantType.STYLE]"
      [qualifier]="variantQualifier.STYLE"
    ></cx-style-selector>
    <cx-size-selector
      *ngIf="variants[variantType.SIZE]"
      [product]="product"
      [variants]="variants[variantType.SIZE]"
      [qualifier]="variantQualifier.SIZE"
    ></cx-size-selector>
  </div>
</ng-container>
