.AccountPageTemplate {
  cx-order-details-headline {
    order: 1;

    .row {
      justify-content: center;
    }

    .cx-header {
      border: solid 1px gray;
      padding: 1rem;

      .cx-detail-row {
        display: flex;
        flex-wrap: wrap;

        .cx-detail-label {
          font-weight: bold;
          padding: 0;
        }

        .cx-detail-value {
          padding: 0;
        }
      }
    }

    .cx-order-details-footer {
      padding: 0;
      text-align: center;
    }

    button {
      margin: 1em 0;
    }

    @include media-breakpoint-up(lg) {
      button {
        margin: 0 0 1em 0;
      }

      .row {
        -webkit-box-pack: justify;
        justify-content: space-between;
      }
    }
  }

  cx-order-details-items {
    order: 2;
  }

  cx-order-details-shipping {
    order: 4;
  }

  cx-order-details-totals {
    order: 3;
  }
}
